.pageWrapper {
  background: #292929;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.filterBar {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  background: #292929;
  padding: 2rem 0 2rem 0;
  font-size: 1.25rem;
  color: #fff;
}

.filterBar select {
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #1e1e1e;
  color: #ffe600;
  margin-right: 1.2rem;
}
.filterBar select:disabled {
  opacity: 0.6;
}

.cardGrid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.eventCard {
  background: #181818;
  border-radius: 8px;
  overflow: hidden;
  width: 340px;
  box-shadow: 0 0 20px #000a;
  display: flex;
  flex-direction: column;
}

.imgWrap {
  height: 250px;
  overflow: hidden;
}

.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1) contrast(1.07) brightness(0.87);
}

.eventDetails {
  background: #000;
  color: #fff;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.code {
  background: #181818;
  color: #ffe600;
  font-weight: bold;
  padding: 0.1rem 0.8rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  border-radius: 0 6px 6px 0;
}

.title {
  color: #ffe600;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  letter-spacing: 1.2px;
}

.dates {
  color: #fff;
  font-size: 1.06rem;
  margin-bottom: 0.8rem;
}

.buyBtnWrap {
  margin-top: 1.2rem;
  display: flex;
  justify-content: flex-end;
}

.buyBtn {
  background: #ffe600;
  color: #141414;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-bottom: 4px solid #181818;
  border-radius: 2px;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  transition: filter 0.18s;
}

.buyBtn:hover {
  filter: brightness(0.93);
}
