.hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: grayscale(70%);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: 2;
}
.heroContent {
  background: linear-gradient(90deg, #FF6700 0%, #FFAF36 60%, #FFE564 100%);
  color: #191919;
  padding: 2rem 3rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 6px 40px #19191980;
}


.gradientText {
  background: linear-gradient(90deg, #FF6700 0%, #FFE564 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}

