.topHeader {
  background: #000;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightGroup {
  display: flex;
  gap: 1rem;
}

.yellowBtn {
  background: linear-gradient(90deg, #FF6700 0%, #FFAF36 60%, #FFE564 100%);
  color: #191919;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: filter 0.2s;
}

.yellowBtn:hover {
  filter: brightness(1.1);
}

